<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladería</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-4">
        <h1 class="text-center">BIENVENIDOS A {{ heladeria[0].nombre }}</h1>
        <h3 class="text-center">UBICADOS EN {{ heladeria[0].direccion }}</h3>
        <h3 class="text-center">TELEFONO: {{ heladeria[0].telefono }}</h3>

        <!-- Tabla de Productos -->
        <h3 class="mt-4">Productos</h3>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Tipo de Vaso</th>
                    <th>Volumen</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.tipo_vaso }}</td>
                    <td>{{ producto.volumen }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Tabla de Ingredientes -->
        <h3 class="mt-4">Ingredientes</h3>
        <table class="table table-striped mt-2">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for ingrediente in ingredientes %}
                <tr>
                    <td>{{ ingrediente.nombre }}</td>
                    <td>{{ ingrediente.precio }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



        <h2>Productos e Ingredientes</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID Producto</th>
                    <th>Nombre Producto</th>
                    <th>Nombre Ingrediente</th>
                    <th>Tipo Ingrediente</th>
                </tr>
            </thead>
            <tbody>
                {% for pi in productosingredientes %}
                    <tr>
                        <td>{{ pi.id_producto }}</td>
                        <td>{{ pi.producto.nombre }}</td> <!-- Acceder al nombre del producto -->
                        <td>{{ pi.ingrediente.nombre }}</td> <!-- Acceder al nombre del ingrediente -->
                        <td>{{ pi.ingrediente.tipo_ingrediente }}</td> <!-- Acceder al tipo de ingrediente -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    


    </div>

</body>
</html>
