<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heladería</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Información de la heladería -->
        <h1 class="text-center">BIENVENIDOS A {{ heladeria[0].nombre }}</h1>
        <h3 class="text-center">UBICADOS EN {{ heladeria[0].direccion }}</h3>
        <h3 class="text-center">TELEFONO: {{ heladeria[0].telefono }}</h3>
        <br><br><br><br>

        <!-- Mensaje de opción -->
        <div class="d-flex justify-content-center">
            <h3 class="text-center">Selecciona una opción:</h3>
        </div>

        <!-- Botones de navegación -->
        <div class="d-flex justify-content-center mt-3">
            <!-- Botón para ver ingredientes -->
            <a href="/ingredientes" class="btn btn-primary mx-2">VER INGREDIENTES</a>
            <!-- Botón para ver productos -->
            <a href="/productos" class="btn btn-success mx-2">VER PRODUCTOS</a>
        </div>
    </div>
</body>
</html>
